{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='student.css')}}">
{% endblock %}
{% block page_content %}

  <div class="page-header">
     <h1>{{ current_user.name.title()}} : {{ current_user.id}}</h2>
  </div>

     <div class="row">
       <div class="col-md-8">
	 <h3>Current Registered Courses</h3>
       </div>
     </div>
     <table class="table table-hover custom-hover">
       <thead>
	 <tr>
	   <th>ID</th>
	   <th>Name</th>
	   <th>When</th>
	   <th>Where</th>
	   <th>Instructor</th>
	 </tr>
       </thead>
       <tbody>
	 {% for c in courses %}
	 <tr data-id="{{c['cobj'].cid}}">
	   <td class="col-md-2">{{c['cobj'].cid}}</td>
	   <td class="col-md-2">{{c['cobj'].cname.title()}}</td>
	   <td class="col-md-2">{{c['cobj'].meets_at}}</td>
	   <td class="col-md-2">{{c['cobj'].room}}</td>
	   <td class="col-md-2">{{c['fobj'].fname.title()}}</td>
	 </tr>
	 {% endfor %}
       </tbody>
     </table>
    <div class="row">
       <div class="col-md-8">
	  <a class="btn btn-default" href="{{ url_for('student.courses' )}}">
	    Register More
	  </a>
       </div>
     
<div id="classInfo" class="modal fade" role="dialog" data-id="">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
	<table class="table">
	  <thead>
	    <tr>
	      <th>Exam 1</th>
	      <th>Exam 2</th>
	      <th>Final</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for key, v in grades.iteritems() %}
	    <tr id="grade_{{key}}" class="grade-list">
	      <td class="col-md-2">{{ v.exam1}}</td>
	      <td class="col-md-2">{{ v.exam2 }}</td>
	      <td class="col-md-2">{{ v.final }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div> 
{% endblock %}

{% block scripts %}
{{ super() }}
  <script type="text/javascript" src="{{url_for('static', filename='dash_student.js')}}"></script>
{% endblock %}
