body {
    background-image: url("linen.png");
}

.btn-outline {
    color: #563d7c;
    background-color: transparent;
    border-color: #563d7c;
}

.custom-hover > tbody > tr:not(.detail-view):hover td {
    background-color:  #739Bf1 !important;
    cursor: pointer;
}
.navbar {
    opacity: 0.9;
    -webkit-backface-visibility: hidden;
}
.flash {
    margin-bottom: -55px;
    margin-top: 60px;
}
.page-header {
    margin: 90px 0 20px;
}
.affix {
    top: 10;
    width: 100%;
    z-index: 9999 !important;
}

.dep-home {
    -moz-box-shadow: 0 0 2px black;
    -webkit-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
}

.navbar-nav>li>a.search-link {
    color: #E88419;
}