.btn-outline {
    color: #563d7c;
    background-color: transparent;
    border-color: #563d7c;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #1BABB3;
    color: #ab5903;
}