{% extends "base.html" %}
{% block styles %}
{{ super() }}
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block page_content %}

<div class="page-header">
  <h1>{{ current_user.name.title()}}</h2>
</div>
<div class="row">
  <div class="col-md-8">
    <h3>Current Courses</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      {% for c in courses %}
      <li><a data-toggle="tab" href="#tab-{{c['c'].cid}}">{{c['c'].cid}}</a></li>
      {% endfor %}  
    </ul>
  </div>
</div>

<div class="tab-content">
  {% for c in courses %}
  <div id="tab-{{c['c'].cid}}" class="tab-pane fade">
    <div class="row">
      <div class="col-md-12">
	<h3>{{ c['c'].cname.title() }} - {{c['c'].meets_at}} @ {{c['c'].room }}</h3>
	<h4>Enrolled students</h4>
      </div>
    </div> 
    <table class="table table-striped table-bordered">
      <thead>
	<tr>
	  <th>Name</th>
	  <th>ID</th>
	  <th>Level</th>
	  <th>Major</th>
	  <th>Exam 1</th>
	  <th>Exam 2</th>
	  <th>Final</th>
	</tr>
      </thead>
      <tbody>
	{% for x in c['s'] %}
	<tr>
	  <td>
	    <a href="#" id="name-{{x['student'].sid}}" 
	       data-id="{{ x['student'].sid}}" 
	       data-toggle="tooltip" data-placement="left" 
	       title="Click for Profile" 
	       class="student-info-link">
	      {{x['student'].sname.title()}}
	    </a>
	  </td>
	  <td>{{x['student'].sid  }}</td>
	  <td>{{x['student'].s_level.title() }}</td>
	  <td>{{x['student'].major.title() }}</td>
	  <td>
	    <a href="#" class="edit-grade" data-name="exam1" 
		 data-pk="{{x['grades'].sid}}_{{x['grades'].cid}}" data-type="text"
		 data-url="{{url_for('.edit_grade')}}" data-title="Edit Exam 1">
	      {{x['grades'].exam1}}
	    </a>
	  </td>
	  <td>
	    <a href="#" class="edit-grade" data-name="exam2" 
		 data-pk="{{x['grades'].sid}}_{{x['grades'].cid}}" data-type="text"
		 data-url="{{url_for('.edit_grade')}}" data-title="Edit Exam 2">
	    {{x['grades'].exam2}}
	    </a>
	  </td>
	  <td>
	    <a href="#" class="edit-grade" data-name="final" 
		 data-pk="{{x['grades'].sid}}_{{x['grades'].cid}}" data-type="text"
		 data-url="{{url_for('.edit_grade')}}" data-title="Edit Final">
	      {{x['grades'].final}}
	    </a>
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  {% endfor %}
</div>

{% include 'student_info_modal.html' %}
  
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
<script src="{{url_for('static', filename='dash_faculty.js')}}"></script>
<script src="{{url_for('static', filename='student_info_modal.js') }}"></script>
{% endblock %}
