{% extends "base.html" %}

{% block page_content %}

  <div class="page-header">
     <h1>Welcome staff</h2>
  </div>

  <div class="row">
      <div class="col-sm-4">
         <p><input type="submit" value="show students"></p>
      </div>
  </div>
  <div class="row">
     <div id="data_view">
        {% for s in students %}
       <div class="row">
        <div class="col-sm-4"> {{ s[0] }} </div>
        <div class="col-sm-4"> {{ s[1] }} </div>
        <div class="col-sm-4"> {{ s[2] }} </div>
       </div>
	{% endfor %}
     </div>
  </div>

{% endblock %}
