{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

  <div class="page-header">
     <h1>Course Schedule</h2>
  </div>
  <div class="container">
    {% if current_user.is_authenticated %}
      You are {{ current_user.name }}
    {% endif %}
  </div>
  <div class="container">
    {% for c in courses %}
     <h2 class="cname">{{ c.cname.title() }}</h2>
      {% if current_user.role == "student" %}
     
      {% if c.cid not in enrolled %}
      <p>
	<a href="/register?cid={{c.cid}}">Register</a>
      </p>
      {% else %}
        <p>
	 <em>Already registered</em>
	</p>
	{% endif %}
	{% endif %}
      <table class="table">
	<thead>
	  <tr>
	    <th>Time</th>
	    <th>Course No.</th>
	    <th>Where</th>
	    <th>Instructor</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td class="col-md-3">{{c.meets_at}}</td>
	    <td class="col-md-3">{{c.cid}}</td>
	    <td class="col-md-3">{{c.room}}</td>
	    <td class="col-md-3">{{c.fid}}</td>
	  </tr>
	</tbody>
      </table>
      <br>
    
    {% endfor %}
  </div>

  <div id="student-register-modal" class="modal fade" 
       role="dialog" data-id="">
    <div class="modal-dialog">
      <div class="modal content">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal">
	    &times;
	  </button>
	  <h4 id="student-modal-title" class="modal-title">(DE)FAULT</h4>
	</div>
	<div class="modal-body">
	  BODY
	</div>
	<div class="modal-footer">
	  <button type="button" class="btn btn-default" data-dismiss="modal">
	    Close
	  </button>
	</div>
      </div>
    </div>
  </div>
{% endblock %}
