{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.vertical-tabs.css')}}">
{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col-md-12">
    <h2><em><p class="text-right">Explore our departments</p></em></h2>
  </div>
</div>

<div class="col-xs-3"> <!-- not perfectly responsive --> 
  <ul class="nav nav-pills nav-stacked">
    {% for d in d_list %}
      {% if d.did != 999 %}
      <li><a href="#tab-{{d.did}}" data-toggle="pill">{{d.dname.title()}}</a></li>
      {% endif %}
    {% endfor %}     
   </ul>
</div>

<div class="col-xs-9">
    <div class="tab-content">
      <div class="tab-pane fade" id="home">Home Tab.</div>
      <div class="tab-pane fade" id="profile">Profile Tab.</div>
      <div class="tab-pane" id="messages">Messages Tab.</div>
      <div class="tab-pane" id="settings">Settings Tab.</div>
    </div>
</div>  
{% endblock %}
