{% extends 'base.html' %}

{% block page_content %}
<div class="page-header">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to the Department of {{dep.dname.title()}}</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>About us</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-pills nav-justified">
      <li class="active"><a data-toggle="pill" href="#faculty">Faculty</a></li>
      <li><a data-toggle="pill" href="#courses">Current Courses</a></li>
      <li><a data-toggle="pill" href="#staff">Staff</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <br>
    <div class="tab-content">
      <div id="faculty" class="tab-pane fade in active">
	{% for f in f_list %}
	<h3 id="fname-{{f.fid}}">{{ f.fname.title() }}</h3>
	{% endfor %}
      </div>
      <div id="courses" class="tab-pane fade">
	<table class="table">
	  <thead>
	    <tr>
	      <th>Title</th>
	      <th class="col-md-2">ID</th>
	      <th>When</th>
	      <th>Where</th>
	      <th>Faculty</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for c in c_list %}
	    <tr>
	      <td>{{ c.cname.title() }}</td>
	      <td>{{c.cid}}</td>
	      <td>{{c.meets_at}}</td>
	      <td>{{c.room}}</td>
	      <td class="fid-{{c.fid}}">filler</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	
      </div>
      <div id="staff" class="tab-pane fade">
	{% for s in s_list %}
	<h3> {{s.sname.title()}}</h3>
	{% endfor %}
      </div>
    </div>
  </div>
</div>
      

{% endblock %}
