{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.1/bootstrap-table.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='search.css')}}">
{% endblock %}

{% block page_content %}
<div class="page-header">
  <div class="row">
    <div class="col-md-12">
      Search
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#student">Students</a></li>
      <li><a data-toggle="tab" href="#course">Courses</a></li>
      <li><a data-toggle="tab" href="#facult">Faculty</a></li>
    </ul>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="tab-content">
      <div id="student" class="tab-pane fade in active">
	<div class="form-group pull-right">
	  <input type="text" class="search form-control" 
		 placeholder="Filter" data-id="student">
	</div>
	<span class="counter pull-right"></span>
	<table id="table-student" class="results-student" 
	       data-toggle="table" data-sort-name="sid" 
	       data-sort-order="asc">
	  <thead>
	    <tr>
	      <th data-field="sid" data-sortable="true">Student ID</th>
	      <th data-field="sname" data-sortable="true">Name</th>
	      <th data-field="s_level" data-sortable="true" data-sorter="levelSorter">Level</th>
	      <th data-field="major" data-sortable="true">Major</th>
	      <th data-field="age" data-sortable="true">Age</th>
	    </tr>
	    
	  </thead>
	</table>
      </div>
      <div id="course" class="tab-pane fade">
	<div class="form-group pull-right">
	  <input type="text" class="search form-control" 
		 placeholder="Filter" data-id="course">
	</div>
	<span class="counter pull-right"></span>
	<table id="table-course" class="results-course"
	       data-toggle="table">
	  <thead>
	    <tr>
	      <th data-field="cid">Course ID</th>
	      <th data-field="cname">Name</th>
	      <th data-field="meets_at">When</th>
	      <th data-field="room">Where</th>
	      <th data-field="fid">Faculty</th>
	      <th data-field="limit" data-formatter="integerFormat">Limit</th>
	    </tr>
	  </thead>
	</table>
      </div>
      <div id="faculty" class="tab-pane fade">
	faculty
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/bootstrap-table.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.9.0/locale/bootstrap-table-en-US.min.js"></script>
<script src="{{ url_for('static', filename='search.js')}}"></script>
{% endblock %}
