<div class="row">
  <div class="col-sm-3">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a data-toggle="tab" data-id="tab-main" href="#tab-main">Profile</a></li>
      {% for e in e_list %}
      <li> <a data-toggle="tab" class="course_item" 
	      data-id="tab-{{ e['c'].cid}}" href="#tab-{{e['c'].cid}}">{{e['c'].cid}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-9">
    <div id="student-info-tabs" class="tab-content">
      <div id="tab-main" class="tab-pane fade in active">
	<p class="course-title">Student Profile</p>
	<table class="table table-striped">
	  <tbody>
	    <tr>
	      <td class="item-label">ID</td>
	      <td>{{s.sid}}</td>
	    </tr>
	    <tr>
	      <td class="item-label">Major</td>
	      <td>{{s.major.title() }}</td>
	    </tr>
	    <tr>
	      <td class="item-label">Level</td>
	      <td>{{ s.s_level.title() }}</td>
	    </tr>
	    <tr>
	      <td class="item-label">Age</td>
	      <td>{{ s.age }}</td>
	    </tr>
	  </tbody>
	</table>
      </div>
      {% for e in e_list %}
      <div id="tab-{{ e['e'].cid}}" class="tab-pane fade">
	<p class="course-title"> {{ e['c'].cname.title() }}</p>
	<table class="table table-striped student-info-course-tab">
	  <tbody>
	    <tr>
	      <td class="item-label">Exam 1</td>
	      <td class="grade">{{ e['e'].exam1}} </td>
	    </tr>
	    <tr>
	      <td class="item-label">Exam 2</td>
	      <td class="grade">{{ e['e'].exam2 }}</td>
	    </tr>
	    <tr>
	      <td class="item-label">Final</td>
	      <td class="grade">{{ e['e'].final }}</td>
	    </tr>
	    <tr>
	      <td class="item-label">Average</td>
	      <td class="course-avg" data-id="avg_{{ e['e'].cid }}"> </td>
	    </tr>
	    
	  </tbody>
	</table>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
  
