<div class="row">
  <div class="col-sm-3">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a id="student_info_main" href="#">Profile</a></li>
      {% for e in e_list %}
      <li> <a class="course_item" id="course_item_{{ e['c'].cid}}" href="#">{{e['c'].cid}}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-sm-9">
    <table class="table table-striped">
      <tbody>
	<tr>
	  <td class="item-label">ID</td>
	  <td>{{s.sid}}</td>
	</tr>
	<tr>
	  <td class="item-label">Name</td>
	  <td>{{s.sname.title()}}</td>
	</tr>
	<tr>
	  <td class="item-label">Major</td>
	  <td>{{s.major.title() }}</td>
	</tr>
	<tr>
	  <td class="item-label">Level</td>
	  <td>{{ s.s_level.title() }}</td>
	</tr>
	<tr>
	  <td class="item-label">Age</td>
	  <td>{{ s.age }}</td>
	</tr>
  </div>
</div>
  
